/* CSS declarations go here */
#livechat-outer {
    /*height: 500px !important;*/
    /*width: 600px;*/
}

#livechat-inner {
    /*height: 480px !important;*/
    /*width: 5803px;*/
    overflow-style: scrollbar;
}

#main {
    min-height: 100%;
    height: 100%;
}